:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #212529;
  background-color: #f8f9fa;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}